<div class="padding-template">
  <div class="card">
    <div class="card-header">
      <h5 class=" text-dark"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;key detail</h5>
      <small style="width: 50% !important;">
        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>&nbsp;you can see key detail.
      </small>
      <div  class="btn-group pull-right" role="group" aria-label="Actions">
        <button type="button" class="btn btn-info btn-sm" (click)="getValueOfKey(keyDetail.keyName)"><i class="fa fa-arrow-down"></i>&nbsp;Get Value</button>
        <button type="button" class="btn btn-dark btn-sm " (click)="loadData()"><i class="fa fa-refresh"></i>&nbsp;Refresh Page</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped small">
        <tr>
          <td><h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;Key Name</h6></td>
          <td><span class="text-dar">{{keyDetail.key}}</span></td>
          <td colspan="4">
            <span class="text-success pull-right" *ngIf="keyDetail.status"><i class="fa fa-circle"></i></span>
            <span class="text-danger pull-right" *ngIf="!keyDetail.status"><i class="fa fa-circle"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;Instance Name</h6>
          </td>
          <td>
              <span class="text-dark">{{keyDetail.instanceName}}</span>
          </td>
          <td>
            <h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;Bean Name</h6>
          </td>
          <td>
              <span class="text-dark">{{keyDetail.beanName}}</span>
          </td>
          <td colspan="3">
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;Map Name</h6>
          </td>
          <td>{{keyDetail.mapName}}</td>
          <td>
            <h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;Map Type</h6>
          </td>
          <td>{{keyDetail.mapType}}</td>
          <td>
            <h6 class="text-dark"><i class="fa fa-arrow-circle-right"></i>&nbsp;TTL</h6>
          </td>
          <td>{{keyDetail.timeToLive}} {{keyDetail.timeToLiveType}}</td>
        </tr>
        <tr>
          <td colspan="6">
          <form class="form-group">
            <div class="row">
              <div class="col">
                <textarea class="form-control" [hidden]="valueItemsHidden">{{keyValue | json:2}}</textarea>
              </div>
            </div>
            <div class="row">
              <div class="col" style="padding-top: 5px !important;">
                <button type="button" class="btn btn-danger btn-sm pull-right" (click)="clearValue()" [hidden]="valueItemsHidden"><i class="fa fa-remove"></i>&nbsp;Clear Value</button>
              </div>
            </div>
          </form>
        </tr>
      </table>
  </div>
</div>
